:root {
    --theme-color : rgb(40, 38, 38);
    --subtheme-color : rgb(45, 50, 50);
    --first-color : rgb(145, 173, 225);
    --second-color : rgb(208, 193, 166);
    --basic-texte-color : rgb(211, 211, 211);
    --choice-color: rgb(111, 37, 12);
    --btn-background : rgb(205, 197, 193);
    --img-background : rgb(106, 121, 128);
    --li-inventory-bg: rgb(68, 68, 68);
    --battle-h2 : rgb(170,20,45);
    --enemy-damage :  rgb(210, 34, 63);
    --player-damage :  rgb(11, 174, 109);
}